<a href="https://colab.research.google.com/github/Shakilkhan24/DATA-SCIENCE-AND-ML/blob/main/pandas_practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [44]:
# Creating example dataframe
np.random.seed(42)

df=pd.DataFrame({
    'ID': range(1, 101),
    'Age': np.random.randint(18, 65, size=100),
    'Gender': np.random.choice(['Male', 'Female'], size=100),
    'Education': np.random.choice(['High School', 'Bachelor', 'Master', 'PhD'], size=100),
    'Income': np.random.randint(30000, 100000, size=100),
    'Country': np.random.choice(['USA', 'UK', 'Canada', 'Australia'], size=100),
    'Product': np.random.choice(['A', 'B', 'C', 'D'], size=100),
})
df.head()

   ID  Age  Gender    Education  Income Country Product
0   1   56  Female  High School   64754      UK       C
1   2   46  Female       Master   41411  Canada       B
2   3   32    Male     Bachelor   32911      UK       A
3   4   60    Male  High School   97270  Canada       B
4   5   25    Male  High School   38680  Canada       A

1. What is the average age of the customers in the dataset?

In [45]:
df.Age.mean()

40.88

2. What is the highest income among the customers?

In [46]:
df.Income.max()

98497

3. How many customers have a PhD degree?

In [47]:
df[df['Education']=='PhD'].shape[0]

# Another method____

# df.Education.value_counts().loc['PhD']
         # CALCULATING THE FREQUENCY OF PhD degree...v_counts() returns a sub_df...so loc is a of accessing

27

4. Which country has the highest number of customers?

In [48]:
df.Country.value_counts().nlargest(1).index
# value_count return sub_df, nlargest() also returns that so
# nlargest(1).index is valid way to approach


# Another way to solve

# df.Country.value_counts().idxmax()

Index(['UK'], dtype='object')

5. What is the most common product among the customers?

In [49]:
df['Product'].value_counts()
#df.Product.value_counts().nlargest(1).index  ___ if max has two values , then showing a overview of value_counts() is usefull...

B    28
D    28
A    27
C    17
Name: Product, dtype: int64

6. How many customers from Canada have an income above $60,000?

In [50]:
df[(df['Income']>=60000 ) & (df['Country']=='Canada')].shape[0]
# total values maintaining the conditions

13

7. What is the income range (minimum and maximum) for customers with a Bachelor's degree?

In [64]:
 df[df['Education']=='Bachelor']['Income'].agg(['min','max'])

 # df.groupby('Education')['Income'].agg(['max','min']).loc['Bachelor']

max    96690
min    31802
Name: Bachelor, dtype: int64

8. How many customers are below the age of 30?

In [65]:
df[df['Age']<30].shape[0]

25

9. How many customers with an income above $70,000 are from Australia and have a Master's degree?

In [60]:
df[(df['Income']>70000) & (df['Country']=='Australia') & (df['Education']=='Master')].shape[0]

3

10. What is the average income of customers from the UK?

In [66]:
df[df['Country']=='UK']['Income'].mean()

# df.groupby('Country')['Income'].mean().loc['UK']

58847.166666666664

11. How many customers with an income above $70,000 are from Australia and have a Master's degree?

In [67]:
df[(df['Income']>70000) & (df['Country']=='Australia') & (df['Education']=='Master')].shape[0]

3

12. What is the median age of customers with Product A?

In [68]:
df[df['Product']=='A']['Age'].median()

38.0

13. How many customers with an income above $80,000 and aged between 30 and 40 have a PhD degree?

In [ ]:
df[(df['Income']>80000) & (df['Age'].isin([30,40]))]